</div>
</div>
</div>

<footer id="footer">
<div class="container">
<p>Copyright INFOR, &copy; 2017</p>
</div>
</footer>
</div>
<script>
CKEDITOR.replace( 'editor1' );
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script id="dsq-count-scr" src="//test-xpjtpahp5a.disqus.com/count.js" async></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
