.grey {
    color: #777;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
    width: 100%;
}

body, html{
    height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

.modal-dialog {
  /*position:absolute;*/
  top:5% !important;
}
