.grey {
    color: #777;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
    background:#333333;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
    width: 100%;
}

body, html{
    height: 100%;
}

#custom-btn {
    background-color: #fff!important;
    color: #777;
}

.radio {
    margin-top: 20px;
    margin-bottom: 20px;
}

#check {
    padding: 8px;
}

#check-item {
    padding-left: 15px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

.modal-dialog {
  /*position:absolute;*/
  top:5% !important;
}

.btn-group.btn-group-raised, .btn-group-vertical.btn-group-raised {
    height: 50px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
