<%- include header  %>
	<form method="post" action='/pdfUpload' enctype = 'multipart/form-data'>
		
		<input type="file" name="pdf"/><br/>
		
		
		<input type="submit">
	</form>

	<form method="get" action="/txt">
		<input type="submit" name="抓題">
	</from>
<%- include footer  %>